<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login_page">
    <form action="/admin/user" method="post">
        

        <div class="login_area">
            <h1>admin login</h1>
            <a href="/login">user login</a>
            <div class="login_input">
                <label for="username">User Name</label>
                <input type="text" placeholder="username" name="username" required><br>
                <label for="password">Password</label>
                <input type="text" placeholder="password" name="password" required>

                
            </div>
            <button class="login_button" type="submit">Submit</button>


            <h6>if you have any account1 <a href="/signup">Sign-up</a></h6>
    </div>
    </form>

    </div>
</body>
</html>