<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="home_page">
        <header>
            <div class="header">
                <h1>BLOGS</h1>
                <div class="buttons">
                    <button><a href="/login">sign-in</a></button>
                    <button><a href="/signup">sign-up</a></button>
                </div>
             </div>
        </header>
        <div class="profile_area">
            <div class="blog">
                <% if (locals.post) { %>
                 <% post.forEach(e => { %>
                    <li class="li">
                   <span class="title"><%= e.title %></span>
                   <span class="content"><%= e.content %></span>
                   
                 <% }) %>
                </li>
                <% } %>
            </div>
          
        </div>
        </div>
        
    </div>
</body>
</html>