<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login_page">
        <form action="/signup" method="post">
            <div class="login_area">
                <h1>Sign-up</h1>
                <div class="login_input">
                    <label for="username">User Name</label>
                    <input type="text" placeholder="username" name="username" required>
                    <label for="password">Password</label>
                    <input type="text" placeholder="password" name="password" required>  
                </div>
                <button class="login_button" type="submit">Submit</button>
            </div>
             
        </form>
    
     </div>
    
    <!-- <form action="/signup" method="post">
        <div class="login_area">
            <h1>Sign-up</h1>
            <div class="login_input">
                <label for="username">User Name</label>
                <input type="text" placeholder="username" name="username" required>
                <label for="password">Password</label>
                <input type="text" placeholder="password" name="password" required>  
            </div>
            <button class="login_button" type="submit">Submit</button>
        </div>
    </form> -->

</body>
</html>